{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="JacksonYANG的博客,一个轻阅读博客,致力于让大家有一个自由发言的场所,同时运用机器学习与大数据的方法让大家接收到自己喜欢的热点新闻">
<meta name="keywords" content="独, 轻博客, 博客, 个人, 热点, 新闻, LightBlog, 分享">
<meta name="author" content="JacksonYANG">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>独-LightBlog</title>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'favicon.ico' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href={% url 'Du:index' %} class="navbar-brand">独|LightBlog</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href={% url 'Du:index' %}>Home | 首页</a></li>
                    <li><a href={% url 'Du:blog' %}>Blog | 博客</a></li>
                    <li><a href={% url 'Du:hot' %}>HotSpot | 热点</a></li>
                    <li><a href={% url 'Du:music' %}>Music | 音乐</a></li>
                    <li><a href={% url 'Du:login' %}>登录 | 注册</a></li>

               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>欢迎来到！独-轻阅读博客</h1>
                    <h3>致力于纯粹的阅读体验和自由的博客空间</h3>
                    <a href="#blog" class="smoothScroll btn btn-default">发现更多</a>
               </div>

          </div>
     </div>
</section>

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">
              <div class="col-md-offset-1 col-md-10 col-sm-12">
                  {% for blog in blog_list %}
                      <div class="blog-post-thumb">
                          <div class="blog-post-title">
                              <h3><a href='{{ blog.get_absolute_url }}'>{{ blog.title }}</a></h3>
                          </div>
                          <div class="blog-post-format">
                              <span><a href="#">{{ blog.author.name }}</a></span>
                              <span><i class="fa fa-date"></i>{{ blog.created_date }}</span>
{#                              <span><a href="#"><i class="fa fa-comment-o"></i>{{  }}</a></span>#}
                          </div>
                          <div class="blog-post-des">
                              <p>{{ blog.article }}</p>
                              <a href='{{ blog.get_absolute_url }}' class="btn btn-default">继续阅读</a>
                          </div>
                      </div>

                  {% empty %}
                      <div class="blog-post-thumb">
                          <div class="blog-post-title">
                              <h3><a href={% url 'Du:index' %}>暂时还没有热点博客喔</a></h3>
                          </div>
                      </div>
                  {% endfor %}
               </div>
          </div>
     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <img src="{% static 'images/logo_lightblog_white.png'%}" />
                    <br>



               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>来自JacksonYANG</h3>
                    <p><i class="fa fa-globe"></i> Weibo : http://weibo.com/u/6567633088</p>
                    <p><i class="fa fa-globe"></i> Wechat : LightBlog_TOO</p>
                    <p><i class="fa fa-save"></i> jacksonyang_work@outlook.com</p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                         <li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
                         <li><a href="https://weibo.com/" class="fa fa-weibo"></a></li>
                         <li><a href="https://www.reddit.com/" class="fa fa-reddit"></a></li>
                         <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                    </ul>

               </div>

               <div class="col-md-4 col-md-offset-4 col-sm-6">
                   <p>版权所有©JacksonYANG 京ICP备18042698号</p>
               </div>
               
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?be9258c78a104a0e4c9abccfcc102a92":"https://jspassport.ssl.qhimg.com/11.0.1.js?be9258c78a104a0e4c9abccfcc102a92";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>

</body>
</html>