{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>独-LightBlog</title>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'favicon.ico' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href={% url 'Du:index' %} class="navbar-brand">独|LightBlog</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href={% url 'Du:index' %}>Home | 首页</a></li>
                    <li><a href={% url 'Du:blog' %}>Blog | 博客</a></li>
                    <li><a href={% url 'Du:hot' %}>HotSpot | 热点</a></li>
                    <li><a href={% url 'Du:music' %}>Music | 音乐</a></li>
                    <li class="active"><a href={% url 'Du:login' %}>登录 | 注册</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Register Section -->

<section id="contact">
     <div class="container">

         <form action="" method="post">
             {% csrf_token %}
             <div class="form-group">
                 {{ form }}
             </div>
             <input class="btn btn-primary" type="submit" name="submit" id="submit" value="注册">
         </form>
         <br>

     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <img src="{% static 'images/logo_lightblog_white.png'%}" />
                    <br>



               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>来自JacksonYANG</h3>
                    <p><i class="fa fa-globe"></i> Weibo : http://weibo.com/u/6567633088</p>
                    <p><i class="fa fa-globe"></i> Wechat : LightBlog_TOO</p>
                    <p><i class="fa fa-save"></i> jacksonyang_work@outlook.com</p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                         <li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
                         <li><a href="https://weibo.com/" class="fa fa-weibo"></a></li>
                         <li><a href="https://www.reddit.com/" class="fa fa-reddit"></a></li>
                         <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                    </ul>
               </div>

              <div class="col-md-4 col-md-offset-5 col-sm-6">
                   <p>京ICP备18042698号</p>
               </div>

          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?be9258c78a104a0e4c9abccfcc102a92":"https://jspassport.ssl.qhimg.com/11.0.1.js?be9258c78a104a0e4c9abccfcc102a92";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>

</body>
</html>